k__pycache__/
*.py[cod]
*$py.class
.vscode/
.venv/
venv/
ENV/
.env
.envrc
.direnv/
.ipynb_checkpoints
test-reports/
.tox/
.mypy_cache/
.cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.log

*
!mirna
!mirna/**
!hg38.tar.gz.part-*
!mirbase.tar.gz.part-*
!mysql57.tar.gz
!justfile
!Makefile
!Dockerfile.multi
