__pycache__/
*.py[cod]
*$py.class
.vscode/
.venv/
venv/
ENV/
.env
.envrc
.direnv/
.ipynb_checkpoints
test-reports/
.tox/
.mypy_cache/
.cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.log

*
!mirna
!mirna/**
!seed
!seed/**
!vendor
!vendor/**
!justfile
!Makefile
!Dockerfile.multi
